 /* PC */
 @media (min-width: 1024px) {
    
}

/* tablet */
@media (max-width: 1023px) and (min-width: 740px) {
  
}

/* mobile */
@media (max-width: 740px) {
    #header {
    overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .menu-btn {
        display: block;
    }
    #nav {
        display: block;
    }
    #nav>li {
        display: block;
    }
    #nav>li:first-child { /* biến giả để chỉ có thằng đầu tiên trong nav */
        display: inline-block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 4px 41px;
    }
}